* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridBox {
  width: 500px;
  height: 500px;
  margin: 40px auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  border: red solid 2px;
}

.gridBox div {
  border: solid black 0.1px;
}