* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  width: fit-content;
  margin: 40px auto;
}

.playGround {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.buttons {
  width: 150px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons button {
  padding: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: rgb(255, 133, 85);
  border: none;
  border-radius: 15px;
}

.buttons .shading{
  display: flex;
  flex-direction : column;
  padding: 10px;
  gap: 5px;
  border: solid red 3px;
  border-radius: 15px;
  font-size: 1.25rem;
  align-items: center;
}

.shading button{
  width: 125px;
}

.gridBox {
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  border: red solid 2px;
}

.gridBox div {
  border: solid black 0.1px;
}